@import "bootstrap/scss/bootstrap";
$explain-grey: #787373;
$border-color: #5eb9bb;
.page {
  padding: 1.250em 0em 1.250em 0em;
}
.name-container {
  display: table;
  height: 4.500em;
}

.name {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.875em;
}

.title {
  margin-top: 0.313em;
  margin-bottom: 0.313em;
  font-weight: bold;
  font-size: 1.500em;
  border-bottom: medium solid $border-color;
}

.subtitle {
  font-weight: bold;
  font-size: 1.250em;
}

.desc {
  font-size: 1.000em;
}

.explain {
  font-size: 1.000em;
  color: $explain-grey;
}
.explain::before {
  content: "↳ ";
}

.skill {
  @extend .badge;
  @extend .badge-info;
  font-size: 1.125em;
}

.skill-list .subtitle{
  padding: 0em 0.313em;
  margin: 0.625em 0em 0.438em 0em;
  border: 0.063em solid $border-color;
}

.point {
  @extend .progress;
  margin-bottom: 0.5em;
}